<div class="container d-flex justify-content-center tweet-table">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Users</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <th scope="row">@<%= link_to user.username, user_path(user) %></th>
            <th scope="row">Latest Tweet: <%= user.tweets.last.try(:post) %></th>
            <th <%= link_to 'Follow', user_path(current_user) %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>