/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 .alert-dismissible {
  width:100%
}

body {
  background-color: #e6ecf0
}

.btn-unfollow:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

span.after{
  display:none;
}

.btn-unfollow:hover span.before{
  display:none;
}

.btn-unfollow:hover span.after{
  display:block;
}

.text-colour {
  color:#657786
}

#bg-color {
  background-color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.9);
}


